h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

ion-header {
  ion-toolbar {
    padding-bottom: 5px;
    --background: #e5f0fc;
    ion-icon {
      font-size: 1.4rem;
    }
    ion-title {
      font-size: 1.2rem;
    }
    ion-badge {
      position: relative;
      right: 1em;
      top: -0.6em;
      --background: #f8ab1c;
      --padding-start: 0px;
      width: 9px;
      height: 9px;
    }
  }
}

ion-content {
  --background: #e5f0fc;
  h4.location {
    color: #9ca5ba;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  h3.location {
    padding-top: 5px;
    color: #333333;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }
  .main-info {
    text-align: center;
    margin-top: 4em;
    img {
      height: 8em;
    }
    h5 {
      margin-top: 1em;
      color: #9ca5ba;
      font-size: 1em;
      font-weight: bold;
    }
    h1 {
      font-size: 5em;
    }
  }
  .other-info {
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 2em;
    ion-card {
      display: inline-block;
      min-width: 150px;
      scroll-behavior: smooth;
      margin: 0;
      margin-right: 15px;
      .info {
        display: flex;
        flex-direction: column;
        img {
          height: 5em;
          // width: 4em;
          padding: 1em 0;
          align-self: center;
        }
        h5 {
          font-size: 1em;
          font-weight: bold;
          color: #9ca5ba;
          margin-bottom: 3px;
        }
        h3 {
          font-size: 1.3em;
          font-weight: bold;
          color: #434343;
        }
      }
    }
  }
  .hourly {
    margin-top: 1em;
    h3 {
      font-size: 1.1em;
      font-weight: bold;
    }
    .hourly-info {
      white-space: nowrap;
      overflow-x: auto;
      .info {
        display: inline-block;
        text-align: center;
        min-width: fit-content;
        scroll-behavior: smooth;
        margin-right: 2em;
        img {
          height: 2em;
          width: 2em;
        }
        p {
          color: #9ca5ba;
          font-size: 0.9em;
        }
      }
    }
  }
}

ion-label {
  font-size: 16px;
}

ion-input {
  font-size: 14px;
  color: #333;
}

ion-select {
  font-size: 16px;
}

ion-item {
  --background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ion-select-option {
  font-size: 16px;
  color: #333;
}

ion-select::part(text) {
  color: #414242;
  font-weight: bold;
}

ion-select-option:hover {
  background-color: #e0e0e0;
}

ion-footer {
  text-align: center;
}
